# Сборка
build/
build-*/
*-build/

# Бинарные файлы
filemonitor
*.exe
*.out
*.app

# Qt
*.user
*.user.*
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.moc
*.qmake.stash

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeLists.txt.user
CMakeLists.txt.user.*
*.cmake
!_install.cmake
_skbuild/

# Редакторы
.idea/
.vscode/
*.swp
*.swo
*~
.*.sw?